li {
  height: 50px;
  margin: 5px;
  color: rgb(36, 33, 33);
  list-style: none;
  text-decoration: none;
  align-content: space-between;
  text-align: justify;
  font-size: 14px;
  border-bottom: rgb(211, 211, 211) solid 1px;
}

li:hover {
  background-color: rgb(221, 221, 221);
}

span {
  padding: 5px;
  font-size: 21px;
  text-align: center;
  height: 50px;
}

span.plus {
  font-weight: bold;
  font-size: 30px;
  color: rgb(0, 156, 52);
}

span.minus {
  font-weight: bold;
  font-size: 30px;
  color: rgb(168, 0, 0);
}

input {
  width: 80%;
  height: 30px;
  padding: 2px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 20px;
}

.questions {
  display: inline-block;
  width: 100%;
  height: 50px;
}

.votes {
  display: inline-block;
  font-size: 18px;
  width: 10%;
  height: 50px;
}

.question {
  display: inline-block;
  font-size: 14;
  margin-top: 5px;
  width: 65%;
  height: 50px;
}

.question-title {
  display: inline-block;
  font-size: 18;
  font-weight: bold;
  width: 60%;
  color: rgb(27, 0, 102);
}

.question-question {
  font-size: 14;
  font-weight: 300;
  width: 60%;
  color: rgb(27, 0, 102);
}

.user {
  display: inline-block;
  font-size: 14;
  width: 20%;
  height: 50px;
  color: rgb(27, 0, 102);
}
