* {
  padding: 0;
}

main{
  flex: 1;
}

.App {
  text-align: center;
  /* display: flex ; */
  /* flex-direction: row; */
}


.App-header {
  background-color: #f3f3f3;
  padding: 50px;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(37, 0, 138);
  margin-bottom: 20px;
}

.App-link {
  color: #09d3ac;
}
